<div id = "info_text">
    <table style="width:100%; font-size: 16px;">
        <tr>
            <th></th>
            <th>Early</th>
            <th>Regular</th>
        </tr>
        <tr>
            <td></td>
            <td>Sept 15 - Dec 1</td>
            <td>Dec 2 - Feb 15</td>
        </tr>
        <tr>
            <td>Delegation Fee</td>
            <td>$85</td>
            <td>$95</td>

        </tr>
        <tr>
            <td>Per Delegate</td>
            <td>$85</td>
            <td>$95</td>
        </tr>
        <tr>
            <td>Per Faculty Advisor</td>
            <td>$0 (Yay)</td>
            <td>$0 (Yay)</td>
        </tr>
    </table>
</div>
