
<div class="home-title jumbotron" style="z-index: 100">
  <h1 style="font-weight: 500; color: #333333; display: inline;"> UCBMUN | XX </h1><%=image_tag "logo_no_text_black.png", class: "home-logo"%>
  <h3 > UC Berkeley's intercollegiate MUN conference. </h3>
  <h4> Thursday, March 3rd - Sunday, March 6th </h4>
</div>
<div class="btn-group home-buttons" role="group" aria-label="setup">
  <a href="/signup"><button type="button" class="btn btn-default home-button" style="color: #FF9900; border-color: #FF9900">Register</button></a>
  <a href="/login"><button type="button" class="btn btn-default home-button" style="color: #1686DB; border-color: #1686DB;">Log In</button></a>
</div>
<!-- </div> -->
<%= image_tag "panorama.jpg", class: "landing-cover-img" %>
</div>
