<div id="map" class="sf-map" style="float: left;">

</div>

<div class="sf-item" style="float: right;">

</div>

<br style="clear:both;"/>
<% @attractions.each_with_index do |attraction, index| %>
  <div id=<%= "attraction-#{index}"%> data-mapid= <%= "#{attraction.id}"%>></div>
<% end %>
