<div class="col-md-8" style="height: 100%; padding-left: 0;">
  <div id="map" class="sf-map">

  </div>
</div>
<div class="col-md-4" style="height:100%; padding-right: 15px;">
  <div class="sf-item">

  </div>
</div>
<!-- <br style="clear:both;"/> -->

<% @attractions.each_with_index do |attraction, index| %>
<div id=<%= "attraction-#{index}"%> data-mapid= <%= "#{attraction.id}"%>></div>
<% end %>
