<div id = "terms_container">
              <div id = "terms_header" title="Click to view terms of registration">
                  Registration Terms
                  <i class = "fa fa-angle-down" id = "angle"></i>
              </div>
              <div id = "terms_content">
                  <ol>
                      <li>
                          <b>Payments</b><br>
                          Payments should be made in the form of checks payable to:
                          ASUC/UCBMUN
                          c/o LEAD Center
                          102 Hearst Gym MC 4500
                          Berkeley, CA 94720-4500
                          [UCBMUN is sponsored by the Associated Students of the University of California, a 501c3 Non-Profit Organization supporting student initiated activities]
                      </li>
                      <li>
                          <b>Proof of Payment</b><br>
                          In order to ease registration and prevent lost checks we ask that you send us Proof of Payment. Proof of Payment can either be a copy or a photo of the completed check or the USPS/UPS/FedEx tracking number, sent electronically to cos-external@ucbmun.org. The Proof of Payment is due within 20 days of Early or Regular registration (and before BayMUN if you wish to attend), and definitely within 7 days of the last registration date. If you fail to send Proof of Payment by that date and have not communicated with our Chief of Staff External, you will not be allowed to participate in UCBMUN XX. In case of special circumstances, please contact our Chief of Staff - External.
                      </li>
                      <li>
                          <b>Delegation Change Guidelines</b><br>
                          We understand that change happens and sometimes members back out of events for various reasons. If you wish to change your delegation you must inform the Chief of Staff - External within 4 weeks of your registration or February 14th whichever is earlier in order to receive a full refund. If you reduce the size of your delegation UCBMUN will refund your delegation on the first day of the conference. If you increase the size of your delegation you must bring a check for the additional amount owed on the first day of the conference.
                      </li>
                      <li>
                        <b> Refund Policy </b><br>

Delegations will be refunded their entire payment if they inform UCBMUN staff of their cancellation within 30 days of registering.
Delegations will be refunded half their payment if they inform UCBMUN staff of their cancellation within 60 days of registering.
Delegations will not be refunded if they fail to inform UCBMUN staff of their cancellation within 60 days of registering.
                      </li>
                      <li>
                          <b>Enforcement Policy</b><br>
                          We will work with you to ensure that every member of your delegation is able to participate. We will not allow any delegates to participate if they have not paid within the appropriate timeframe and not contacted our Chief of Staff External. If you have any questions feel free to contact us.
                      </li><br>

                  </ol>
              </div>
          </div>
