<div class="secretariat-container" onClick="contactSecretariat($(this));">
  <div class="secretariat-info">
    <div class="secretariat-name">
      <%= officer[:name]%>
    </div>
    <div class="secretariat-rank">
      <%= officer[:title]%>
    </div>
  </div>
  <%= content_tag(:div,
        content_tag(:div,
          content_tag(:a, officer[:email], href: "mailto:#{officer[:email]}"),
        class: "secretariat-contact", id: "secretariat-contact"),
      class: "secretariat-img #{key}-img", style: "background-position: #{officer[:img_pos]}; -webkit-background-size: cover;") %>
    <!-- <div class="secretariat-contact" id="secretariat-contact">
      <%= officer[:email]%>
    </div>
  </div> -->
</div>
