<h1>Committees</h1>
<navbar specialized bodies joint crisis crisis>

<div class="container">
  <h2> Specialized Bodies </h2>
  <%= render partial: "committeelist", locals: {committees: @sb_committees} %>
  <br></br>
  <h2> Crisis Committees </h2>
  <%= render partial: "committeelist", locals: {committees: @crisis_committees} %>
  <br></br>
  <h2> Joint Crisis Committees </h2>
  <%= render partial: "committeelist", locals: {committees: @jcc_committees} %>
</div>
