<h1> Contact Us </h1>
<h3> Secretary General </h3>
<h4> Varsha Venkatasubramanian </h4>
<%= link_to "mailto:sg@ucbmun.org" %>
<h3> Deputy Secretary General </h3>
<h4> Raymond King </h4>
<%= link_to "mailto:dsg@ucbmun.org" %>
