<!-- <div class="jumbotron home-page" style="height: 100%; background-style: cover;">
  <h1> UCBMUN XX </h1>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>

</div> -->
<div class="home-title jumbotron">
  <h1 style="font-weight: 500;"> UCBMUN | XX </h1>
  <h3> UC Berkeley's intercollegiate MUN conference. </h3>
</div>
<div class="btn-group home-buttons" role="group" aria-label="setup">
  <a href="/login"><button type="button" class="btn btn-default home-button" style="color: #1686DB; border-color: #1686DB;">Log In</button></a>
  <a href="/signup"><button type="button" class="btn btn-default home-button" style="color: #FF9900; border-color: #FF9900">Register</button></a>
</div>
<%= image_tag "panorama.png", class: "landing-cover-img" %>
