<!-- <div class="jumbotron home-page" style="height: 100%; background-style: cover;">
  <h1> UCBMUN XX </h1>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>

</div> -->
<div class="home-title jumbotron">
  <h1> UCBMUN | XX </h1>
  <h3> UC Berkeley's intercollegiate MUN conference. </h3>
</div>
<%= image_tag "panorama.png", class: "landing-cover-img" %>
