<h1> Schedule </h1>
<h2> Thursday, March 3 </h2>
<%= render partial: "schedule", locals: {schedule_items: @thursday_schedule} %>
<h2> Friday, March 4 </h2>
<%= render partial: "schedule", locals: {schedule_items: @friday_schedule} %>
<h2> Saturday, March 5 </h2>
<%= render partial: "schedule", locals: {schedule_items: @saturday_schedule} %>
<h2> Sunday, March 6 </h2>
<%= render partial: "schedule", locals: {schedule_items: @sunday_schedule} %>
