<br></br>
<br></br>
<br>
<div class="info-title">
  Schedule
</div>
  <div style="font-family: 'Raleway', sans-serif; padding-top: 10px;">
      <div class="row">
        <div class="col-md-6">
          <h4 class="center-header schedule-header"> Thursday, March 2 </h4>
          <%= render partial: "schedule", locals: {schedule_items: @thursday_schedule} %>
          <br></br>
        </div>
        <div class="col-md-6">
          <h4 class="center-header schedule-header"> Friday, March 3 </h4>
          <%= render partial: "schedule", locals: {schedule_items: @friday_schedule} %>
          <br></br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="center-header schedule-header"> Saturday, March 4 </h4>
          <%= render partial: "schedule", locals: {schedule_items: @saturday_schedule} %>
          <br></br>
        </div>
        <div class="col-md-6">
          <h4 class="center-header schedule-header"> Sunday, March 5 </h4>
          <%= render partial: "schedule", locals: {schedule_items: @sunday_schedule} %>
        </div>
      </div>
    </div>
