<h1> Current Sponsors </h1>

<%= image_tag "sponsors/7Sage.png", class: "seven-sage-logo" %>
<%= image_tag "sponsors/lh_o_g.png", style: "height: 200px" %>

<a href="http://7sage.com/"> <h4 style="padding-left: 90px; "> 7Sage </h4> </a>

<h1> How to Sponsor </h1>
<p> Check back soon for full sponsorship information! </p>

<h3> Click <a href="/UCBMUN_XX_Sponsorship_Packet.pdf"> here </a> for detailed information!</h3>
