<h1> Current Sponsors </h1>
<%= image_tag "sponsors/lh_o_g.png" %>
<%= image_tag "sponsors/7Sage.png", class: "seven-sage-logo" %>

<h1> How to Sponsor </h1>
<p> Check back soon for full sponsorship information! </p>

<!-- <h3> Click <%= link_to asset_path "UCBMUN_XX_Sponsorship_Packet.pdf" %> here </a> for detailed information!</h3> -->
