<h1> Current Sponsors </h1>

<div class="sponsor">
  <a href="http://7sage.com/"> <h3 style="padding-left: 90px; "> <strong>7Sage</strong> </h3> </a>
  <div class="sponsor-image">
    <%= image_tag "sponsors/7Sage.png", class: "seven-sage-logo", align: "left" %>
  </div>
  <div class="sponsor-description", style="padding-left: 20em;">
    <p> 7Sage offers affordable LSAT review options for those looking to further their careers. The company focuses on enhancing student's LSAT logic reasoning skills while providing quality online preparation courses and logic games. 7Sage recently introduced an app that proctors LSAT prep tests and allows students to simulate the testing environment from any location. This simulation includes generated distraction noises, virtual timers, five-minute warnings, real instructions, and more! Not only has 7Sage created an app to assist students in preparing for the LSAT, but it also offers free resources that include logic game explanations, the LSAT test scorer, and LSAT prep tools. 7Sage is a valuable resource to utilize for online LSAT preparation. </p>
  </div>
</div>

<br></br>
<br></br>
<br></br>

<div class="sponsor">
<%= image_tag "sponsors/lh_o_g.png", style: "height: 200px;" %>
</div>



<h3> Click <a href="/UCBMUN_XX_Sponsorship_Packet.pdf"> here </a> for detailed information!</h3>
