<h1> Venue </h1>
<h2> The Hilton San Francisco </h2>
<div class="jumbotron">
  <!-- <div class="container"> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "hilton1.jpg", class: "venue-pic" %>
        </div>

        <div class="item">
          <%= image_tag "hilton.png", class: "venue-pic" %>
        </div>

        <div class="item">
          <%= image_tag "hilton3.jpg", class: "venue-pic" %>
        </div>

        <div class="item">
          <%= image_tag "hilton4.jpg", class: "venue-pic" %>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  <!-- </div> -->
</div>
<p> UCBMUN XIX will be hosted at the Hilton San Francisco Financial District. This hotel venue sits at the crossroads of three of the most well known neighborhoods in San Francisco: Chinatown, Russian Hill, and the Financial District. Their central location allows delegates to get a feel for the entire city. Food and nightlife abound around the Hilton.
<strong>UCBMUN has secured a special group rate at the Hilton for accodomations</strong>. To make reservations, please visit the online Hilton page or call the Hilton toll-free at 1-800-424-8292. Be sure to identify yourself as part of UC Berkeley Model United Nations.
</p>
