<h1> Letter from the SG </h1>
<div class="welcome-letter">
<p>
  Dear Head Delegates and Advisors,
  <br></br>
  My name is Varsha Venkatasubramanian and I am the Secretary-General for the UC Berkeley Model
  United Nations Conference in March 2016. UCBMUN is in our 20th year and we are proud to be one of
  the oldest Model UN programs in the country. Each year our conference brings hundreds of delegates
  from top universities across the nation and the world to San Francisco, California to debate sociopolitical
  issues that resonate across the globe.
  <br></br>
  This year, UCBMUN XX will be hosted from March 3rd to March 6th at the Hilton, Financial District, San
  Francisco. Delegates will participate in committees, utilizing months of research and preparation to
  develop resolutions for major geopolitical problems. Our diverse delegates come from various fields,
  colleges, and regions.
  <br></br>
  UCBMUN creates opportunities for potential leaders of the next generation to engage in multi-faceted
  dialogue, face personal growth, gain comprehensive perspectives on world issues, and learn about the
  trials and triumphs of international diplomacy, all in the hopes of creating a better of tomorrow.
  <br></br>
  Our conference draws highly motivated individuals that have already made impacts in their
  communities and will undoubtedly continue to do so in the future. We look forward to your joining us in
  this exciting journey and experience all that UCBMUN and San Francisco have to offer! If you have any
  questions or concerns, please don't hesitate to email me at sg@ucbmun.org.
  <br></br>
  Sincerely,
  Varsha Venkatasubramanian
</p>
</div>
