<%= render partial: "toolbar" %>
<h2> Delegation </h2>
<h3> You have registered <strong> <%= "#{@user.delegates_count} delegates." %> </strong> </h3>
<h4> To change your delegation numbers, please go to Settings. </h4>
<!-- <h4> Please submit your committee preferences <a href = "http://goo.gl/forms/EsymrqicSm">here</a> or below! </h4>
<iframe src="http://goo.gl/forms/EsymrqicSm" style="width: 800px; height: 800px;"></iframe> -->
