<%= render partial: "toolbar" %>
<h2> Delegation </h2>
<h3> You have registered <strong> <%= "#{@user.delegates_count} delegates." %> </strong> </h3>
<h4> Committee preference lists will be opened soon! </h4> 
