<%= render partial: "toolbar" %>
<h2> Applications and Resources </h2>
<ul>
  <li><h5> <a href="/UCBMUN_rules_and_procedures.pdf"> UCBMUN XX Rules and Procedures </a> </h5></li>
  <li><h5> <a href="https://goo.gl/forms/RGNg7vUSKuLkE62H3"> Adhoc Committee Application </a> </h5></li>
</ul>
