<div class="container committee-page-full" style="height: 700px;">
<h1> Mobile App Privacy Policy </h1>
<p style="font-family: Raleway;"> UCBMUN XXI has developed a mobile application to enhance your conference experience. Before
  using the application, we encourage you to read the associated privacy policy. </p>

<p style="font-family: Raleway;"> If the policy does not display below, you can view it <a href="/UCBMUN_App_Privacy_Policy.pdf"> here </a>.</p>
<center>
<iframe src="/UCBMUN_App_Privacy_Policy.pdf" style="width: 800px; height: 800px;"></iframe>
</center>
</div>
