// Place all the styles related to the Committees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chair-profile {
  width: 100%;
}

.committee-chairs {
  margin-top: -30px;
  background-color: white;
  opacity: 0.4;
}

.committee-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

.committee-text {
  background-color: white;
  opacity: 0.4;
}
.adhoc-background-image {
  background-image: image-url("committees/adhoc.jpg");
}
