// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.secretariat-img {
	background-image: url(/assets/images/home.png)
}

#terms_container {
	margin-top: 0.5em;
	cursor: pointer;
}

ol {list-style-type: upper-roman;}

li {
	margin-top: 1rem;
}

#terms_header {
	font-size: 2em;
	font-weight: 300;
	margin: 0 auto;
	margin-bottom: 0.25em;
	margin-top: 1rem;
}

.home-page {
  height: 100%;
}

// .home-page-background {
// 	background-image: url("panorama.jpg");
// }

.landing-cover-img {
  width: 100%;
  height: 73vh;
  margin-top: -2em;

}

.home-title {
  padding-left: 3em;
  margin-top: -3em;
  margin-bottom: -2em;
  display: inline-block;
}

.home-buttons {
  display: inline-block;
  float: right;
  margin-right: 4em;
}

.home-button {
  width: 11em;
  height: 4em;
  margin-top: 2.5em;
}

.jumbotron {
  background: white;
}


.attr-profile {
  width: 100%;
	height: 15em;

}

.attraction-name {
	text-align: center;
}

.venue-pic {
  width: 100%;
	height: 100px;
}

.schedule-item-name {
	margin-right: 1em;
	//padding-left: 2em;
}

.schedule-item-time {
  text-align: right;
	align: right;
	//padding-right: 2em;

}


.sec-profile {
  width: 100%;
}

.sec-name {
	text-align: center;
}
.committee-single {
	margin: 0.5em 0;
}

.committee-name {
	text-align: center;
}

.committee-picture {
	width: 100%;
	height: 200px;
}

.venue-pic {
	width: 100%;
	height: 500px;
}

.sec-name:hover {
	color: #999999;
}

.sec-modal-profile {
	height: 100%;
	padding: 15px;
}

.sec-modal-picture {
	height: 280px;
}

.sec-row-four {
	margin-bottom: 1em;
}

.event-time {
	text-align: right;
	margin-right: -10em;
}

.schedule-table {
	width: 65%;
	margin: 0 auto;
}

.center-header {
	margin: 0 auto;
	text-align: center;
}

.schedule-header {
	font-weight: 525;
}

.venue-page {
	width: 100%;
	margin: 0;
}

.venue-pic-container {
	height: 650px;
}

.bottom-corner {
	margin-bottom: 0;
}

.venue-description {
	position: absolute;
	z-index: 20;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	width: 70%;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.35);
	padding: 1em 2em 2em 2em;
}

.welcome-letter {
	width: 60%;
	background-color: #96C1D6;
	color: white;
	padding: 2em;
	font-size: 17px;

}

.welcome-pic {

	width: 100%;


}

.welcome-profile {
	float: left;
	width: 35%;
	margin-right: 2em;
}

.sec-modal {
	height: 315px;
}

.contact-us-description {
	margin-left: 20px;
}

.contact-us-pic {
	height: 200px;
}

.contact-us-profile {
	float: left;
}

.home-logo {
	display: inline;
	height: 55px;
	margin-top: -40px;
}

.seven-sage-logo {
	width: 20%;
}

.sf-map {
	//background-image: url(sfmap.jpg);
	//background-size: 100% 100%;
	//background-size: cover;
	//background-position: center;
	//background-repeat: no-repeat;

	width: 64%;
	position: absolute;
	left: 0px;
	height: 100%;
}

.map-pin {
	width: 3em;
	position: absolute;

}

.pin-selected {
	color: blue;
}

.map-item-image {
	height : 50vh;
	width : 100%;
}

#hotel-pin {
	position: absolute;
	top: 38%;
	right: 24%;

}
